<div class="jumbotron bg-danger p-3 my-3">

    <h1>Teste header bootstrap</h1>
    <p>Model - View - Controller</p>
    <a href="{{URL}}"><button class="btn btn-light">TELA 1</button></a>
    <a href="{{URL}}/tela2"><button class="btn btn-light">TELA 2</button></a>
    <a href="{{URL}}/tela3"><button class="btn btn-light">TELA 3</button></a>
    <a href="{{URL}}/tela4"><button class="btn btn-light">TELA 4</button></a>
    <a href="{{URL}}/tela5"><button class="btn btn-light">TELA 5</button></a>
    <a href="{{URL}}/tela6"><button class="btn btn-light">TELA 6</button></a>
    <a href="{{URL}}/tela7"><button class="btn btn-light">TELA 7</button></a>
    <a href="{{URL}}/tela8"><button class="btn btn-light">TELA 8</button></a>
 
</div>